/* formatacao padrao */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #E6E6E6;
}


/* cabecalho */

.cabecalho {
    background: #f7b600;
    text-align: center;
    padding: 35px;
}

/* letrario */
.blog {
    color: #FFFFFF;
}

h1 {
    display: inline;
    font-size: 40px;
    color: #4E4E4E;
}
/* letrario */

/* menu */

.menu>a {
    padding: 10px;
    margin-top: 50px;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #f7b600;
    background: #FFFFFF;
}

.menu {
    margin-top: 20px;
}

/* fim-menu */

/* fim cabecalho */

/* postes */

.post-1, .post-2 {
    margin-top: 20px;
    background: #FFFFFF;
    width: 660px;
    padding: 20px;
    margin-left: 230px;
    float: left;
    clear: both;
}

.titulo-post {
    color: #f7b600;
}

.data-post {
    font-size: 0.8em;
}

.post-1>img, .post-2>img {
    width: 660px;
    margin-top: 20px;
}

.legenda {
    text-align: justify;
}

.post-1>a, .post-2>a {
    text-decoration: none;
    color: #f7b600;
}

/* fim-postes */

/* conteudo da direita */

.conteiner-1, .conteiner-2 {
    /* border: 1px solid red; */
    background: #FFFFFF;
    width: 240px;
    float: right;
    clear: both;
}

/* .conteiner-1 */

.conteiner-1{
    /* margin-top: -1259px; */
    padding: 15px;
    position: relative;
    bottom: 1257px;
    right: 300px;
}

.titulo-post-recente {
    font-weight: bold;
    font-size: 1.17em;
    color: #565656;
    background: #CCCCCC;
    padding: 5px;
}

.conteiner-1>p, .conteiner-1>a {
    font-size: 0.8em;
    padding: 5px;
}

.conteiner-1>a {
    text-decoration: none;
    color: #f7b600;
}

.conteiner-1>hr {
    color: #CCCCCC;
}

/* .conteiner-2 */

.conteiner-2 {
    padding: 15px;
    position: relative;
    bottom: 1240px;
    right: 300px;
}

.titulo-categorias {
    font-weight: bold;
    font-size: 1.17em;
    color: #565656;
    background: #CCCCCC;
    padding: 5px;
}

.conteiner-2>ul>li>a{
    text-decoration: none;
    color: #f7b600;
    font-size: 1em;
}

li{
    list-style-type: none;
}

/* fim-conteiner */


/* fim conteudo da direita */

.rodape {
    font-size: 1em;
    width: 950px;
    padding: 20px;
    text-align: center;
    background: #CCCCCC;
    /* border: 1px solid red; */
    clear: both;
    position: relative;
    bottom: 345px;
    left: 230px;
}